# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
.Python
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
var/
sdist/
wheels/
.installed.cfg

# Virtual Environment
.env
.venv
env/
venv/
ENV/

# Environment variables
*.env
.env.*
config.ini
secrets.yaml
secrets.yml

